.title-link {
  text-decoration: none;
}

blockquote {
  background: var(--accent-color);
  border-left: 10px solid #888;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-radius: 0.1rem;
}

blockquote:before {
  color: #888;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.captioned-figure {
  background-color: var(--accent-color);
  border-radius: 0.1rem;
}

.captioned-figure figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.caption {
  text-align: center;
}
