:root {
    --page-html-bg-transparent: rgba(color(#2a2828 lightness(-12.2%)), 0.7);
    --page-padding-inline: 2.1rem;
    --page-padding-block: 1.4rem;
    --page-width: 1080px;
    --topnav-height: 4.5em;
    --bottomnav-height: 10.0em;
    --accent-color: #5B7553;
    --nav-color-h: 61;
    --nav-color-s: 42%;
    --nav-color-l: 44%;
    --nav-color: hsl(var(--nav-color-h), var(--nav-color-s), var(--nav-color-l));
    --nav-color-darker-border: hsl(var(--nav-color-h), var(--nav-color-s), calc(var(--nav-color-l) - 20%));
    --nav-color-darker-fill: hsl(var(--nav-color-h), var(--nav-color-s), calc(var(--nav-color-l) - 10%));
    --light-text-color: whitesmoke;
}

.login-button {
    display: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 1rem;
    font-weight: bold;
}

.login-modal-content {
    line-height: 1.2;
    font-family: 'Times New Roman';
    border-radius: 0.3in;
    background-repeat: repeat;
    background-image: url("/images/id.png");
    margin: 5% auto;
    margin-top: 1%;
    /* 15% from the top and centered */
    padding: 0.15in;
    border: 2px solid #888;
    width: 4.8in;
}

.token-login-modal-content {
    border-radius: 0.3in;
    justify-content: center;
    background-repeat: repeat;
    background-image: url("/images/ourple.png");
    margin: 15% auto;
    padding: 0.15in;
    background-size: 15px;
    border: 2px solid #888;
    width: 4.8in;
}

.confirmation-modal-content {
    border-radius: 0.3in;
    background-repeat: repeat;
    background-image: url("/images/ourple.png");
    margin: 15% auto;
    padding: 0.15in;
    background-size: 15px;
    border: 2px solid #888;
    width: 4.8in;
}

.login-messages {
    background-size: 15px;
    border-radius: 0.3in;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    background-repeat: repeat;
    background-image: url("/images/ourple.png");
    padding: 0.15in;
    border: 2px solid #888;
    width: 4.8in;

}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


body {
    margin: 0;
    line-height: 1.8;
}

html {
    font-family: '0xProto Nerd Font Mono';
    font-size: .2in;
    background-color: var(--page-bg-color);
    color: var(--light-text-color);
    background-image: url("/images/ourple.png");
    background-repeat: repeat;
    background-size: 15px;
    background-attachment: fixed;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    height: var(--topnav-height);
    background-image: url("/images/oureen.png");
    background-repeat: repeat;
    background-size: 15px;
    background-attachment: fixed;

    background-color: hsla(var(--nav-color-h), var(--nav-color-s), var(--nav-color-l), 0.8);
    color: var(--light-text-color);

    a:hover {
        background-color: rgba(100, 100, 100, 0.1);
    }

    a {
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
        font-size: .3in;
        width: 20%;
        color: inherit;
        text-align: center;
        border: 2px solid var(--nav-color-darker-border);
        background-color: rgba(0, 0, 0, 0.1);
    }

}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    color: var(--light-text-color);


    a {
        font-size: .3in;
        color: inherit;
        text-align: center;
    }



}

.page-content {
    max-width: 90%;
    display: flex;
    flex-direction: inherit;
    justify-items: center;

    p h1 h2 {
        margin-left: 4%;
        margin-right: 4%;
    }

    a {
        color: inherit;
    }


    img {
        margin-top: 2%;
        justify-self: center;
        display: flex;
        flex-shrink: 0;
        align-self: center;
        max-width: 100%;
    }

    .captioned-image {
        align-self: center;
        display: inline-block;
        padding-bottom: 2%;

        figcaption {
            padding: 1%;
            max-width: min-content;
            min-width: 100%;
            margin-inline: auto;

            font-size: .25in;
            background-color: var(--accent-color);
        }


    }



}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: flex-start;



    .side-col {
        text-align: center;
        width: 15%;
        margin-top: var(--topnav-height);
    }

    .boxed {
        margin: 0.5rem;
        background: rgba(0, 0, 0, 0.3);
        padding: 0.5rem;
        border: 5px solid var(--nav-color-darker-border);
        box-shadow: rgba(0, 0, 0, 0.2) 5px 2px 5px;
    }


    .reading-container {
        height: 30vw;
    }

    .page-html {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 1;
        align-items: center;
        flex-basis: var(--page-width);
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
        padding: 0;
        margin: 0;
        min-height: calc(100vh - 150px);
    }

    .shoutbox-container {
        height: 30vw;
    }

    .shoutbox-username {
        color: whitesmoke;
    }

    .shoutbox-messages {
        height: 90%;
        border: 2px solid #888;
        overflow-y: scroll;

        ul {
            margin: 0;
            padding: 0 2% 2% 0;
        }
    }

    .shoutbox-message {
        display: flex;
        border-bottom: 2px dotted #888;
        text-align: left;
        line-height: 1.3;

        p {
            margin: 0;
        }
    }


    .shoutbox-ui {
        display: none;
        height: 10%;
        flex-direction: row;
    }

    .shoutbox-input {
        width: 80%;
        background: rgba(255, 255, 255, 0.1);
        color: whitesmoke;
        border: 2px solid #888;
    }

    .shoutbox-send {
        width: 20%;
        height: 100%;
    }

}
