<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>fuck it we blog</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fonts/stylesheet.css" rel="stylesheet">
    <script type="module">
        import {get_random_window_title} from '/js/title_bar.js';
        document.title = await get_random_window_title();
    </script>

</head>

<body>
    <main>
        <div class="side-col">

        </div>
        <div class="page-html">
            <div class="top-bar">
                <a href='/'>
                    home
                </a>
                <a href='/gallery'>
                    gallery
                </a>
                <a href='/playground'>
                    toys + games
                </a>
                <a href='/about'>
                    about
                </a>

            </div>
            <button id="login-button">login</button>
            <div class="page-content">
                    {% block content %} {% endblock content %}
            </div>
            
        </div>

        <div class="side-col">
            <div class="boxed">
                <b>shoutbox</b>
                <div class="shoutbox-container">
                    <div class="shoutbox-messages"></div>
                        <div id="shoutbox-login" hidden>
                            <button>login</button>
                        </div>
                    <div class="shoutbox-ui">
                       <div class="shoutbox-login"></div>
                        <textarea class="shoutbox-input"></textarea>
                        <button class="shoutbox-send">send</button>
                    </div>
                </div>
            </div>
            
        </div>

    </main>

    <div id="login-modal" class="modal">
        <div class="login-modal-content" style="border-radius:0.3in;line-height:1.2;font-family:'Times New Roman'">
            <button id="modal-close-button" class="modal-close">&times;</button>
            <div style="text-align:center;line-height:1;">
            <b style="font-size:24px;margin:0;padding:0;">REPUBLICO DE COLOMBIA</b>
            <div style="font-size:20px;margin:0;padding:0;">IDENTIFICACION DE MASCOTAS</div>
            <div style="font-size:16px;margin:0;padding:0;">CEDULA DE CIUDADANIA</div>
            <div style="font-size:12px;margin:0;padding:0;">FELINA Y CANINA</div>
            </div>
            <div style="display:flex;flex-direction:row;justify-content:space-between;">
                <div>
                    <div style="font-size:20px;margin:0;padding:0;">NOMBRE</div>
                    <input style="color:black;background: rgba(255, 255, 255, 0.1);"type="text" placeholder="DISPLAY NAME" name="displayname" required>
                    <div style="font-size:20px;margin:0;padding:0;"><br>RAZA</div>
                    <b style="font-size:20px;margin:0;padding:0;">CRIOLLO</b>
                    <div style="font-size:20px;margin:0;padding:0;"><br>SEXO</div>
                    <b style="font-size:20px;margin:0;padding:0;">MACHO</b>
                </div>
                <img src="/images/bunuelo.png" style="margin-top:15%;object-fit:scale-down;width:30%;height:100%;">
            </div>
            <div style="width:100%;display:flex;justify-content:center;">
            <button type="submit">login</button>
            </div>
        </div>
    </div>
    <script type="module" defer>
        import {bind_button_to_close_modal, bind_button_to_open_modal} from '/js/modal.js';
        var modal = document.getElementById('login-modal');
        var login_button = document.getElementById('login-button');
        var close_button = document.getElementById('modal-close-button');
        bind_button_to_open_modal(login_button,modal);
        bind_button_to_close_modal(close_button,modal);
    </script>
</body>

</html>
