{% extends "base.html" %}
{% block content %}
    {% for page in paginator.pages %}
    <div class = "post-content">
        <a style="text-decoration:none;" href="{{page.permalink}}">
            <h1>{{ page.title}}</h1>
        </a>
        <div style = "margin-bottom:1in;border-bottom:5px solid whitesmoke;border-top:5px dotted whitesmoke;">
            {{ page.content | safe }}
            <div style="display:flex;justify-content:center"><span style="font-style:bold;text-align:center">END POST</span></div>
        </div>
    </div>
    {% endfor %}
            <div class="bottom-bar">
                {% if paginator.previous %}
                    <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
                {% endif %}
                {% if paginator.next %}
                    <a class="next" href="{{ paginator.next }}">Next ›</a>
                {% endif %}
            </div>
            <div class="bottom-bar">
                <a href='/archive'>
                   Archive
                </a>
            </div>


{% endblock content %}
